<div class="sign-up-container">
  <%= link_to root_path do %>
    <%= image_tag "aurora-logo-white" %>
  <% end %>
  <% if resource.class == User %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <h4>Student/Teacher Sign Up</h4>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Your email",
                    input_html: { autocomplete: "email" }%>
        <div class="name-inputs">
          <%= f.input :first_name,
                      required: true,
                      label: false,
                      placeholder: "First name" %>
          <%= f.input :last_name,
                      required: true,
                      label: false,
                      placeholder: "Last name" %>
        </div>
        <div class="form-group radio_buttons required user_role">
          <input type="hidden" name="user[role_id]" value="">
          <div class="form-check">
            <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="<%= Role.first.id %>" name="user[role_id]" id="user_role_id_<%= Role.first.id %>">
            <label class="form-check-label collection_radio_buttons" for="user_role_id_<%= Role.first.id %>">Student</label>
          </div>
          <div class="form-check">
            <input class="form-check-input radio_buttons required" required="required" aria-required="true" type="radio" value="<%= Role.second.id %>" name="user[role_id]" id="user_role_id_<%= Role.second.id %>">
            <label class="form-check-label collection_radio_buttons" for="user_role_id_<%= Role.second.id %>">Teacher</label>
          </div>
        </div>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "Your password (min 8 characters with 1 number)",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "Confirm password",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Next", id: "step-1-next-btn" %>
      </div>
    <% end %>
    <%= link_to "Don't have a School? Create one", new_school_admin_registration_path, class: "sign-up-page-link" %>
  <% else %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <h4>School Admin Sign Up</h4>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: "Your email",
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      label: false,
                      placeholder: "Your password (min 8 characters with 1 number)",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: "Confirm password",
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Create Account" %>
        </div>
      <% end %>
    <%= link_to "Already a School Admin? Login", new_school_admin_session_path, class: "sign-up-page-link" %>
    <%= link_to "Not a School Admin? Login as a Teacher/Student", new_user_session_path, class: "sign-up-page-link" %>
  <% end %>
</div>

