<div class="school-classes-index">
  <h3><%= @school.name %></h3>
  <div class="school-classes">
    <% if @school_classes %>
      <% @school_classes.each do |school_class| %>
      <div class="school-class">
        <div class="icon">
          <i class="fas fa-square"></i>
        </div>
        <p id="class-name">
          <%= school_class.name %>
        </p>
        <div class="student-count">
         <p><%= User.where(school_class_id: school_class.id).count %> students</p>
        </div>
        <div class="add-students">
          <button id="add-students-btn" data-toggle="modal" data-target="#exampleModal">
            Add Students
          </button>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for([ @school, @school_class ], remote: true) do |f| %>
    <%= f.input :name, label: false, placeholder: "Type in a class name" %>
    <%= f.button :submit, value: "Create Class" %>
  <% end %>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
