<div class="school-classes-index">
  <h3><%= @school.name %></h3>
  <div class="school-classes">
    <% if @school_classes %>
      <% @school_classes.each do |school_class| %>
      <div class="school-class">
        <div class="icon">
          <i class="fas fa-square"></i>
        </div>
        <p id="class-name">
          <%= school_class.name %>
        </p>
        <div class="student-count">
         <p><%= User.where(school_class_id: school_class.id).count %> students</p>
        </div>
        <div class="add-students">
          <button id="add-students-btn"
                  data-toggle="modal"
                  data-target="#student-invitation-modal"
                  data-school-class-name="<%= school_class.name %>">
            Invite Students
          </button>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for([ @school, @school_class ], remote: true) do |f| %>
    <%= f.input :name, label: false, placeholder: "Type in a class name" %>
    <%= f.button :submit, value: "Create Class" %>
  <% end %>
</div>
<%= render 'shared/invite_students_boostrap_modal' %>
